body{
    background:#dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: rgb(34  , 34, 34);
}
.foto-principal{
    width: 160px;
    border: 2px solid #acca24fa;/* shorthand*/
    border-radius: 60%;
    margin: 50px;
    padding: 10px;
}
h1{
   margin-bottom: 0; 
   letter-spacing: -1px;
   font-family: 'PT Sans Narrow', sans-serif;
   font-size: 55px;
}
h2{
    margin-top: 0;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
    
}
h3  {
    margin-bottom: 0;
   
}
h4  {
    margin-top: 0;
    margin-bottom: 5px;
    }

li{
    margin-top:0%;
    margin-bottom: 0%;
}
p   {
    line-height: 25px;
    margin-top:0%;
    margin-bottom: 0%; 
}
ul{
    margin-top:0%;
    margin-bottom: 0%;
}
ol{
    margin-top:0%;
    margin-bottom: 0%;
}